---
http_interactions:
- request:
    method: get
    uri: https://mugenmonkey.com/api/v0/ds3_weapons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <style>
          body {
            background-color: #EFEFEF;
            color: #2E2F30;
            text-align: center;
            font-family: arial, sans-serif;
            margin: 0;
          }

          div.dialog {
            width: 95%;
            max-width: 33em;
            margin: 4em auto 0;
          }

          div.dialog > div {
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #BBB;
            border-top: #B00100 solid 4px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            background-color: white;
            padding: 7px 12% 0;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }

          h1 {
            font-size: 100%;
            color: #730E15;
            line-height: 1.5em;
          }

          div.dialog > p {
            margin: 0 0 1em;
            padding: 1em;
            background-color: #F7F7F7;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #999;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-color: #DADADA;
            color: #666;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }
          </style>
        </head>

        <body>
          <!-- This file lives in public/404.html -->
          <div class="dialog">
            <div>
              <h1>The page you were looking for doesn't exist.</h1>
              <p>You may have mistyped the address or the page may have moved.</p>
            </div>
            <p>If you are the application owner check the logs for more information.</p>
          </div>
        </body>
        </html>
  recorded_at: Thu, 30 Jun 2022 02:35:14 GMT
- request:
    method: get
    uri: http://mugenmonkey.com/api/v0/ds3_builds?level_from=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://mugenmonkey.com/api/v0/ds3_builds?level_from=20
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Jun 2022 02:35:14 GMT
- request:
    method: get
    uri: https://mugenmonkey.com/api/v0/ds3_builds?level_from=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"710daf658a65370057a231b0fbe52a03"
    body:
      encoding: ASCII-8BIT
      string: '{"count":232696,"ds3_builds":{"494397":{"created_at":"2022-06-29T23:17:19Z","updated_at":"2022-06-29T23:17:19Z","author":"Anonymous","description":"100%
        stability","public":true,"gender":"Male","title":"Great Shield Menace","starting_class":"Knight","level":83,"vigor":40,"attunement":10,"endurance":11,"vitality":28,"strength":40,"dexterity":17,"intelligence":10,"faith":9,"luck":7,"hollowing":0,"covenant":"Warriors
        of Sunlight","two_hand":false,"lh1_infusion":"normal","lh2_infusion":"normal","lh3_infusion":null,"rh1_infusion":"heavy","rh2_infusion":null,"rh3_infusion":null,"votes":0,"head_id":186,"body_id":159,"arms_id":56,"legs_id":340,"ring1_id":16,"ring2_id":10,"ring3_id":13,"ring4_id":63,"lh1_id":240,"lh2_id":145,"lh3_id":null,"rh1_id":142,"rh2_id":null,"rh3_id":null,"spell1_id":51,"spell2_id":null,"spell3_id":null,"spell4_id":null,"spell5_id":null,"spell6_id":null,"spell7_id":null,"spell8_id":null,"spell9_id":null,"spell10_id":null,"user_id":null,"id":"494397"},"494393":{"created_at":"2022-06-29T22:24:14Z","updated_at":"2022-06-29T22:24:14Z","author":"Anonymous","description":"","public":true,"gender":"Female","title":"Unkindled
        Ash","starting_class":"Knight","level":335,"vigor":30,"attunement":10,"endurance":30,"vitality":30,"strength":66,"dexterity":99,"intelligence":30,"faith":30,"luck":99,"hollowing":0,"covenant":"Warriors
        of Sunlight","two_hand":true,"lh1_infusion":"normal","lh2_infusion":null,"lh3_infusion":null,"rh1_inf[...]
- request:
    method: get
    uri: https://mugenmonkey.com/api/v0/ds3_rings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <meta name="viewport" content="widt[...]
