---
http_interactions:
- request:
    method: get
    uri: https://mugenmonkey.com/api/v0/ds3_weapons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <style>
          body {
            background-color: #EFEFEF;
            color: #2E2F30;
            text-align: center;
            font-family: arial, sans-serif;
            margin: 0;
          }

          div.dialog {
            width: 95%;
            max-width: 33em;
            margin: 4em auto 0;
          }

          div.dialog > div {
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #BBB;
            border-top: #B00100 solid 4px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            background-color: white;
            padding: 7px 12% 0;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }

          h1 {
            font-size: 100%;
            color: #730E15;
            line-height: 1.5em;
          }

          div.dialog > p {
            margin: 0 0 1em;
            padding: 1em;
            background-color: #F7F7F7;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #999;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-color: #DADADA;
            color: #666;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }
          </style>
        </head>

        <body>
          <!-- This file lives in public/404.html -->
          <div class="dialog">
            <div>
              <h1>The page you were looking for doesn't exist.</h1>
              <p>You may have mistyped the address or the page may have moved.</p>
            </div>
            <p>If you are the application owner check the logs for more information.</p>
          </div>
        </body>
        </html>
  recorded_at: Thu, 30 Jun 2022 02:35:13 GMT
- request:
    method: get
    uri: http://mugenmonkey.com/api/v0/ds3_builds?level_to=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://mugenmonkey.com/api/v0/ds3_builds?level_to=20
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Jun 2022 02:35:13 GMT
- request:
    method: get
    uri: https://mugenmonkey.com/api/v0/ds3_builds?level_to=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4deb0f6fc2f7019f547eaec310ef66d"
    body:
      encoding: ASCII-8BIT
      string: '{"count":6562,"ds3_builds":{"494325":{"created_at":"2022-06-26T20:24:05Z","updated_at":"2022-06-26T20:24:05Z","author":"Anonymous","description":"","public":true,"gender":"Female","title":"Unkindled
        Ash","starting_class":"Knight","level":9,"vigor":12,"attunement":10,"endurance":11,"vitality":15,"strength":13,"dexterity":12,"intelligence":9,"faith":9,"luck":7,"hollowing":0,"covenant":"Warriors
        of Sunlight","two_hand":false,"lh1_infusion":null,"lh2_infusion":null,"lh3_infusion":null,"rh1_infusion":null,"rh2_infusion":null,"rh3_infusion":null,"votes":0,"head_id":null,"body_id":null,"arms_id":null,"legs_id":null,"ring1_id":null,"ring2_id":null,"ring3_id":null,"ring4_id":null,"lh1_id":null,"lh2_id":null,"lh3_id":null,"rh1_id":null,"rh2_id":null,"rh3_id":null,"spell1_id":null,"spell2_id":null,"spell3_id":null,"spell4_id":null,"spell5_id":null,"spell6_id":null,"spell7_id":null,"spell8_id":null,"spell9_id":null,"spell10_id":null,"user_id":null,"id":"494325"},"494253":{"created_at":"2022-06-24T11:18:20Z","updated_at":"2022-06-24T11:18:20Z","author":"Valdrus21
        ","description":"Souls level 1 build","public":true,"gender":"Female","title":"sl1
        ","starting_class":"Deprived","level":1,"vigor":10,"attunement":10,"endurance":10,"vitality":10,"strength":10,"dexterity":10,"intelligence":10,"faith":10,"luck":10,"hollowing":0,"covenant":"Warriors
        of Sunlight","two_hand":true,"lh1_infusion":"normal","lh2_infusion":null,"lh3_infu[...]
- request:
    method: get
    uri: https://mugenmonkey.com/api/v0/ds3_rings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <meta name="viewport" content="widt[...]
